.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fbfbfb;
}

.header_logo {
    height: 40px;
    object-fit: contain;
}

.header_icon {
    padding: 20px;
}